@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
.tabs .indicator {
    background-color: blue;
}
#uno
{
  background: #0B2343;
}
#btmostrar
{
   position:absolute;
  width: 20px;
  height: 20px
 
    top: 50px;
    left: 250px;
     
  
}
#btmost
{
   position:absolute;
  width: 20px;
  height: 20px
 
   
    left: 400px;
     
  
}
#btmost
{
   top: 100px;
      left: 450px;
}
.hover_rojo{
  background-color: #4CAF50;
}
.hover_rojo:hover{
  background-color: red;
}
.hover_verde{
  background-color: #4CAF50;
}
.hover_verde:hover{
  background-color: green;
}
.hover_salir:hover{
  background-color: red;
  margin-bottom: 3px;
}
.iconito{
  width: 35px; 
  height: 35px;
}
.texto_footer1{
  font-size: 15px;
    color: white;
}
.texto_footer{
  font-size: 15px;
}
.titulo_footer{
   font-size: 20px;
}
.direccion{
   font-size: 14px;
   color: #AAAAAA;
}
#uno
{
  
  border-radius: 20px;
  color: #FFFFFF;
  text-align: right;


}
nav
{
  background: black;
}
#botones
{
  color:red;
}
#bot
{
  background-color: #444A4D;
}
#bot2
{
  background-color: #1570A6;
}
#bota
{
  background-color: #444A4D;
}
#bota2
{
  background-color: #1570A6;
}
#porta
{
  background-color: #444A4D;
}
#porta2
{
  background-color: #1570A6;
}
#abajo
{
  background: black;
  margin-right: 500px;
}