 
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
#uno
{
  
  border-radius: 20px;
 	color: #FFFFFF;
  text-align: right;


}
nav
{
	background: black;
}
#botones
{
	color:red;
}
#bot
{
	background-color: #444A4D;
}
#bot2
{
	background-color: #1570A6;
}
#bota
{
	background-color: #444A4D;
}
#bota2
{
	background-color: #1570A6;
}
#porta
{
	background-color: #444A4D;
}
#porta2
{
	background-color: #1570A6;
}
#abajo
{
	background: black;
	margin-right: 500px;
}